

	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">

	Site: {{tourneyList.siteId}} -- <span>{{tourneyList.remaining()}} of {{tourneyList.employees.length}} employees checked in.</span>
	<div ng-init="tourneyList.init()">

	<table id="tbl_checkin" class="dataTable table table-striped table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>FName</th>
				<th>LName</th>
				<th>Email</th>
				<th>building</th>
				<th>Floor</th>
				<th>Room</th>
				<th>Phone</th>
				<th>Status</th>
			</tr>  
		</thead>
		<tbody>
			<tr ng-repeat="player in tourneyList.employees | filter: tourneyList.searchKeyword |  orderBy:['lname','fname']">
				<td align=center> 
					<md-button ng-click="tourneyList.editPlayer('{{player.email}}')">Edit</md-button>
				</td>
				<td align=center>{{player.fname}}</td>
				<td align=center>{{player.lname}}</td>
				<td align=center>{{player.email}}</td>
				<td align=center>{{player.building}}</td>
				<td align=center>{{player.floor}}</td>
				<td align=center>{{player.room}}</td>
				<td align=center>{{player.phone}}</td>
				<td>
					<select ng-model="player.status"><!-- $issue$ chage this to radio set -->
						<option value="IN">{{tourneyList.status[0]}}</option>
						<option value="OUT">{{tourneyList.status[1]}}</option>
						<option value="SAFE">{{tourneyList.status[2]}}</option>
					</select>
				</td>
			</tr>
		</tbody>

	</table>

	<script>
		$(document).ready(function() {
			$('#tbl_checkin').DataTable();
		});
	</script>
</div>
<br>
<hr>