

    <form name="newUserForm">
      <div layout="row">
        
        <md-input-container><label>New Player Name (Required)</label>
        <input name="playerName" type="text" ng-model="tourneyList.newNameText" size="30"
               ng-required="true" required>
             </md-input-container>
        <md-input-container>
        <label>Group</label>
        <md-select name="groupName" ng-model="tourneyList.newPoolText" required>
            <md-option ng-value="opt" ng-repeat="opt in tourneyList.pool">{{opt}}</md-option>
        </md-select>
        </md-input-container>
        <md-input-container>
        <md-button class="md-raised md-primary" ng-click="tourneyList.addPlayer()" ng-disabled="newUserForm.$invalid">Add
          </md-button>
        </md-input-container>
     
        </div>
    </form>



Site: {{tourneyList.siteId}} -- <span>{{tourneyList.remaining()}} of {{tourneyList.names.length}} players checked in.</span>
      <div ng-if="tourneyList.isLoggedIn">
      [ <a href="" ng-click="tourneyList.archive()">save/publish</a> ] 
      </div>
     {{tourneyList.saveStatusText}}<br>
        
      <table>
        <tr>Search: <input ng-model="tourneyList.searchKeyword"/></tr>
        <tr><th><md-checkbox aria-label="Select All" ng-model="tourneyList.selectAllFlag" ng-click="tourneyList.selectAll()"/></th>
            <th>Player Name</th><th>Pool</th><th>Team</th><th>Net</th><th>GP</th><th>GW</th><th>GL</th><th>Points</th></tr>  
        <tr ng-repeat="player in tourneyList.names | filter: tourneyList.searchKeyword |  orderBy:['text','group']">
            <td align=center><md-checkbox aria-label="{{$index +1}}" ng-model="player.checkin"></md-checkbox></td>
            <td><span class="checkin-{{player.checkin}}">{{player.text}}</span></td>
            <td>
                <select ng-model="player.group">
                    <option value="Gold">{{tourneyList.pool[0]}}</option>
                    <option value="Silver">{{tourneyList.pool[1]}}</option>
                    <option value="New">{{tourneyList.pool[2]}}</option>
                </select>
            </td>
                
            <td align=center>{{player.team}}</td>
            <td align=center>{{player.net}}</td>
            <td align=center>{{player.gamePlayed}}</td>
            <td align=center>{{player.gameWon}}</td>
            <td align=center>{{player.gameLost}}</td>
            <td align=center>{{player.totalPoints}}</td>
        </tr>
          
      </table>
    <br>
    <hr>