
<!doctype html>
<html ng-app="CyburiAssistantCoach">
  <title>{{title}}</title>
  <head>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-aria.min.js"></script>
    <script src="lib/angular-messages.min.js"></script>
    <script src="lib/aws-sdk-2.7.13.min.js"></script>
    <script src="lib/amazon-cognito-identity.min.js"></script>
      <script src="lib/angular-route.js"></script>
        
    <!-- Angular Material Library -->
    <script src="lib/angular-material.min.js"></script>    
      
      
    <script src="main.js"></script>
      
    <!-- Angular Material CSS now available via Google CDN; version 1.1.9 used here -->
    <link rel="stylesheet" href="lib/angular-material.min.css">
      
    <link rel="stylesheet" href="main.css">
         <base href="/" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  </head>
  <body>
    
<div ng-controller="TourneyListController as tourneyList" class="md-padding"  id="popupContainer" ng-init="tourneyList.init()">
        
  <md-toolbar class="md-accent">
   <div class="md-toolbar-tools">
      <md-button
        class="md-icon-button"
        aria-label="Lets Go" alt="Step 2"
        ng-click="tourneyList.letsGo()">
        <md-icon md-svg-icon="img/icons/assignment.svg"></md-icon>
      </md-button>
      <h2>{{title}} - New App Starts Here </h2>
      <span flex></span>
<!--    <md-button
        class="md-icon-button"
        aria-label="Settings"
        ng-click="tourneyList.showRecordScore()">
        <md-icon md-svg-icon="img/icons/volleyball1.svg"></md-icon>
      </md-button>
-->
      <sub><small>User:{{tourneyList.userName}}</small></sub>
      <md-button
        class="md-icon-button"
        aria-label="Record Score"
        ng-click="tourneyList.showDialog('account.panel.html')">
        <md-icon md-svg-icon="img/icons/account.svg"></md-icon>
      </md-button>
      <md-button
        class="md-icon-button"
        aria-label="More"
        ng-click="tourneyList.showToolbarMenu($event, tourneyList.more)">
        <md-icon md-svg-icon="img/icons/settingApplication.svg"></md-icon>
      </md-button>
       
    </div>
  </md-toolbar>
<div ng-if="tourneyList.helpMessage">        
The intent is to create a simple and free tool for organizing (2vs2 or 3vs3) the linear game/league/tournament.  Follow these three simple admin steps:
    <ul>Step 1) Check in players; </ul>
    <ul>Step 2) <img src="img/icons/assignment.svg" alt="Step 2" height="24" width="24">Auto randomize players and assign to team by net; </ul>
    <ul>Step 3) <img src="img/icons/volleyball1.svg" alt="Step 3" height="24" width="24">Track score by team and point differential.  </ul>
For demo purpose, pre-populated players below are fictional names.  Feel free to add new players and fiddle around but data won't be saved til your have an account.  **Register and login to get your own workspace that includes full features of ranking display.  
<br>  
</div>    
Help Message <input type="checkbox" ng-model="tourneyList.helpMessage" ng-init="tourneyList.helpMessage = false"><br>
<hr>    
        
    <md-nav-bar
      md-no-ink-bar="disableInkBar"
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="/#!" name="home">
        Home
      </md-nav-item>
      <md-nav-item md-nav-href="/#!checkin" name="checkin">
        Check In
      </md-nav-item>
      <md-nav-item md-nav-href="/#!play" name="random">
        Play
      </md-nav-item>
      <md-nav-item md-nav-href="/#!result" name="result">
        Rank
      </md-nav-item>
    </md-nav-bar>    
    
<div ng-view></div>
        
           
</div>
  </body>
</html>