<div role="dialog" aria-label="Recording Scores" layout="column" layout-align="center center">
  <div class="demo-dialog-content">
    
    <form name="newUserForm">
      <div>
        <md-input-container><label>First Name (Required)</label>
        <input name="fname" type="text" ng-model="tourneyList.newFNameText" size="30"
               ng-required="true" required>
        </md-input-container>
        
        <md-input-container><label>Last Name (Required)</label>
        <input name="lname" type="text" ng-model="tourneyList.newLNameText" size="30"
               ng-required="true" required>
        </md-input-container><br>
                   
        <md-input-container><label>Email (Required)</label>
        <input name="email" type="text" ng-model="tourneyList.newEmailText" size="30"
               ng-required="true" required>
             </md-input-container>
        <md-input-container><label>Building (Required)</label>
        <input name="building" type="text" ng-model="tourneyList.newBuildingText" size="10"
               ng-required="true" required>
             </md-input-container>
        <md-input-container><label>Room (Required)</label>
        <input name="room" type="text" ng-model="tourneyList.newRoomText" size="10"
               ng-required="true" required>
            </md-input-container>
        
        <md-input-container><label>Phone (Required)</label>
        <input name="phone" type="text" ng-model="tourneyList.newPhoneText" size="10"
               ng-required="true" required>
       </md-input-container>
            
        <md-input-container>
        <md-button class="md-raised md-primary" ng-click="tourneyList.addPlayer()" ng-disabled="newUserForm.$invalid">Add
          </md-button>
        </md-input-container>
        </div>
    </form>

    <br>
  </div>
</div>