    Randomized team(s):
    <hr>   
    <table>
        {{tourneyList.generatedPool1.length}} player(s) in Gold Pool
        <tr><th>Team</th><th>Player Name</th><th>Net</th></tr>  
        <tr ng-repeat="player in tourneyList.generatedPool1 | orderBy:['team','text']">
            <td>{{player.team}}</td>
            <td>{{player.text}}</td>
            <td>{{player.net}}</td>
        </tr>    
    </table>
      
    <br>
    <table>
        {{tourneyList.generatedPool2.length}} player(s) in Silver Pool
        <tr><th>Team</th><th>Player Name</th><th>Net</th></tr>  
        <tr ng-repeat="player in tourneyList.generatedPool2 | orderBy:['team','text']">
            <td>{{player.team}}</td>
            <td>{{player.text}}</td>
            <td>{{player.net}}</td>
        </tr>
          
    </table>
    <br>
    <table>
        {{tourneyList.generatedPool3.length}} player(s) in New Pool
        <tr><th>Team</th><th>Player Name</th><th>Net</th></tr>  
        <tr ng-repeat="player in tourneyList.generatedPool3 | orderBy:['team','text']">
            <td>{{player.team}}</td>
            <td>{{player.text}}</td>
            <td>{{player.net}}</td>
        </tr>
          
    </table>
